<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sample Site</title>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
</head>
<body>

    <div class="container">
        <div class="jumbotron">
            <form method="POST" action="upload" enctype="multipart/form-data">
            <input type="file" name="photo" />
                <button type="submit">Upload</button>
            </form>
        </div>
    </div>    
</body>
</html>